<footer class="footer bg-dark text-center text-white mt-auto">
    <div class="container p-5">
        <div class="row">
            <div class="d-none d-lg-block col-lg-4 pb-4">
                <img src="/image/bcaa_logo-removebg-preview.png" class="img-fluid mb-2" alt="">
                <p class="text-start pb-3">An Exemplary, Safe and Secure Civil Aviation System in the Region.</p>
                <div class="d-flex flex-row">
                    <a href="" class="me-4">
                        <i class="fa-brands fa-facebook fa-2xl text-light"></i>
                    </a>

                    <a href="" class="me-4">
                        <i class="fa-brands fa-instagram fa-2xl text-light"></i>
                    </a>

                    <a href="" class="me-4">
                        <i class="fa-brands fa-twitter fa-2xl text-light"></i>
                    </a>
                </div>
            </div>
            <div class="col-1 d-none d-lg-block"></div>
            <div class="d-none d-sm-block col-sm-6 col-lg-4 mt-md-0 text-start footer-links">
                <h4>USEFUL</h4>
                <a href="">BCAR Part-145 Renewal Form</a>
                <a href="">BCAR Part-M Renewal Form</a>
                <a href="">BCAR Part-66 Renewal Form</a>
                <a href="">AOC Renewal Form</a>
            </div>
            <div class="d-none d-sm-block col-sm-6 col-lg-3 text-start mt-md-0 footer-links">
                <h4>IMPORTANT</h4>
                <a href="">LAS Login (Staff Only)</a>
                <a href="">PEL Log In</a>
                <a href="/bcaa/login">Staff Login</a>
            </div>
        </div>

        <hr id="footer-divider">
        <span id="footer-copyright">
            <p>&copy; 2022 Bhutan Civil Aviation Authority</p>
        </span>
    </div>
</footer>