<div class="row py-2 bg-dark">
    <div class="col-3 text-center my-auto">
        <img src="/image/bcaa_logo-removebg-preview.png" class="img-fluid" id="bcaa-logo" alt="">
    </div>
    <div class="col-7 col-lg-6 my-auto text-white">
        <h2 class="fs-4 logo-text">འབྲུག་ཞི་བའི་མཁའ་འགྲུལ་དབང་འཛིན།</h2>
        <h2 class="d-none d-md-block logo-text">Bhutan Civil Aviation Authority</h2>
    </div>
    <div class="col-lg-3 my-auto pe-5 text-end d-none d-lg-block">
        <img src="/image/king_logo-removebg-preview.png" id="king-logo" alt="">
    </div>
    <div class="col-2 d-lg-none text-center my-auto pe-2">
        <button class="navbar-toggler btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</div>