<% layout('layouts/airworthiness')%> 
<h3 class="mb-3">Airworthiness Personnel</h3>
<div class="row border m-0">
    <div class="col-lg-6 p-3 d-flex justify-content-center border-end">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="cardImageContainer">
                <div class="cardImage" style="background-image: url('https://www.bcaa.gov.bt/wp-content/uploads/2017/03/Namgyel.jpg');"></div>
            </div>
            <div class="text-center mt-3">
                <div class="fw-bold">Mr. Namgyal</div>
                <div class="text-secondary fw-light">Dy. Airworthiness Officer</div>
                <div class="text-secondary fw-light">namgyal@bcaa.gov.bt</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 p-3 d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="cardImageContainer">
                <div class="cardImage" style="background-image: url('https://www.bcaa.gov.bt/wp-content/uploads/2017/03/sonamTshering-1.jpg');"></div>
            </div>
            <div class="text-center mt-3">
                <div class="fw-bold">Mr. Sonam Tshering</div>
                <div class="text-secondary fw-light">Dy. Airworthiness Officer</div>
                <div class="text-secondary fw-light">stshering@bcaa.gov.bt</div>
            </div>
        </div>
    </div>
</div>

<div class="row border border-top-0 m-0">
    <div class="col-lg-6 p-3 d-flex justify-content-center border-end">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="cardImageContainer">
                <div class="cardImage" style="background-image: url('https://www.bcaa.gov.bt/wp-content/uploads/2017/03/IMG-20210901-WA0000-197x300.jpg');"></div>
            </div>
            <div class="text-center mt-3">
                <div class="fw-bold">Mr. Chet Raj Ghaley</div>
                <div class="text-secondary fw-light">Airworthiness Officer</div>
                <div class="text-secondary fw-light">crghaley@bcaa.gov.bt</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 p-3 d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="cardImageContainer">
                <div class="cardImage" style="background-image: url('https://www.bcaa.gov.bt/wp-content/uploads/2017/03/IMG-20220331-WA0005-224x300.jpg');"></div>            </div>
            <div class="text-center mt-3">
                <div class="fw-bold">Mr. Sonam Jamtsho</div>
                <div class="text-secondary fw-light">Airworthiness Officer</div>
                <div class="text-secondary fw-light">sjamtsho@bcaa.gov.bt</div>
            </div>
        </div>
    </div>
</div>
